services:
  db:
    image: postgres:latest
    container_name: mydevhub-postgres
    restart: always
    environment:
      POSTGRES_DB: mydevhub_db
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data: